<% if current_user %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Create a Bark</h3>
  </div>
  <div class="panel-body">
   <%= form_for @bark do |f| %>
        <%= f.text_area :content, class: 'form-control' %>
        <%= f.submit "Bark!" %>
      <% end %>
  </div>
</div>
<% end %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Public Barks</h3>
  </div>
  <div class="panel-body">
    <div class="well"><% @barks.each do |bark| %>
            <a href="<%= user_path bark.user %>">
            <span class="name"><%= bark.user.first_name %><%= bark.user.last_name %></span>
            </a>
              <span class="spacing"> @<%= bark.user.username %></span>
               <span class="time"><%= time_ago_in_words(bark.created_at) %></span>
            <p><%= bark.content %> </p>
        <% end %>
   
</div>
  </div>
</div>



