<% if current_user %>
<div id="createBark" class="panel right">
    <h1>Create a Bark</h1>
    <p>
    <%= form_for @bark do |f| %>
        <%= f.text_area :content, class: 'barkText' %>
        <%= f.submit "BARK!" %>
    <% end %>
    </p>
</div>
<% end %>
<div class="panel left">
    <h1>Buddies' Barks</h1>
    <% @barks.each do |bark| %>
        <div class="barkWrapper">
            <a href="<%= user_path bark.user %>">
            
            <span class="name"><%= bark.user.first_name %><%= bark.user.last_name %></span> 
            </a>
            @<%= bark.user.username %> 
            <span class="time"><%= time_ago_in_words(bark.created_at) %></span>
            <p> <%= bark.content %> </p>
        </div>
    <% end %>
</div>
