
<% if current_user %>
<div id="createBark" class="panel right">
    <h1>Create a Bark</h1>
    <p>
      <%= form_for @bark do |f| %>
        <%= f.text_area :content, class: 'barkText' %>
        <%= f.submit "Bark!" %>
      <% end %>
    </p>
  </div>
<% end %>
<div id="barks" class="panel left">
    <h1>Your Barkit Profile</h1>
    <div class="barkWrapper">
        <span class="name"><%= @user.first_name %><%= @user.last_name %></span> @<%= @user.username %>
        <p>
        <%= @user.barks.size %> Barks
        <span class="spacing">XX Followers</span>
        <span class="spacing">XX Following</span>
        </p>
    </div>
</div>
<div class="panel left">
    <h1>Your Barks</h1>
    <% @user.barks.each do |bark| %>
        <div class="barkWrapper">
            <span class="name"><%= @user.first_name %><%= @user.last_name %></span>
            @<%= @user.username %> 
            <span class="time"><%= time_ago_in_words(bark.created_at) %></span>
            <p> <%= bark.content %> </p>
        </div>
    <% end %>
</div>