<!DOCTYPE html>
<html>
<head>
  <title>Barkit</title>
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
  <nav class='navbar navbar-default'>
    <a class='navbar-brand' href='/'>Barkit</a>
    <ul class="nav navbar-nav">
      <% if current_user %>
        <li><%= link_to "Public Profiles", users_path %></li>
        <li><%= link_to "My Profile", current_user %></li>
        <li><%= link_to "Public Barks", barks_path %></li>
        <li><%= link_to "Buddies' Barks", buddies_path %></li>
        <li><%= link_to "Log Out", sessions_destroy_path %></li>
  
      <% else %>
        <%= form_tag sessions_create_path do %>
        <span><%= text_field_tag :username, nil, placeholder: "username" %></span>
        <span><%= password_field_tag :password, nil, placeholder: "password" %><span>
        <span><%= submit_tag "Log In" %></span>
        <% end %>
      <% end %>
    </ul>
  </nav>
  <div class='container'>
    <div class="wrapper">
        <% flash.each do |name, msg| %>
            <%= content_tag :div, msg, class: "flash #{name}" %>
        <% end %>
        <%= yield %>
    </div>
  </div>
  <footer>
    
  </footer>
</body>
</html>
